/*声明 WebFont*/
@font-face {
  font-family: 'thirdFont';
  src: url('../assets/font/Miasm Infection.ttf');
  font-weight: normal;
  font-style: normal;
}

/*使用选择器指定字体*/
#demo {
  font-family: 'thirdFont';
}