
@font-face {
  font-family: 'firstFont';
  src: url('~@/assets/font/BRUX.otf');
}
@font-face {
  font-family: 'secondFont';
  src: url('~@/assets/font/fontone.ttf');
}
@font-face {
  font-family: 'thirdFont';
  src: url('~@/assets/font/SourceHanSansCN-Normal.otf');
}